* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000114;
}

main {
  width: 700px;
  height: auto;
  border: 4px solid #f60;
  background-color: #ffbf79;
  padding: 20px 10px;
  border-radius: 15px;
  box-shadow: 0 1px 2px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 100px;
  display: inline-flex;
  color: #000;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  margin: 5px 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.img-content {
  max-height: 300px;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  background-color: #eee;
  overflow: hidden;
}

.img-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-content .emptyImg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.rotate-content i {
  font-size: 18px;
}

.hide {
  display: none !important;
}

#spnRangeValue {
  font-family: system-ui;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  padding: 0px 10px;
  border: 2px solid #f60;
  border-radius: 25px;
}

.range-line {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#newImg {
  width: 80px;
  background: #fff;
  color: #ff6600;
}

#newImg:hover {
  background: #ff6600;
  color: #fff;
}

#btnSalvar {
  width: 80px;
  background: #fff;
  color: #1ba500;
}

#btnSalvar:hover {
  background: #1ba500;
  color: #fff;
}

#btnResetFilters {
  width: 80px;
  background: #fff;
  color: #e00000;
}

#btnResetFilters:hover {
  background: #e00000;
  color: #fff;
}

.filters-content,
.rotate-content {
  width: 100%;
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
}

.filters-content .active,
button:hover {
  font-weight: bold;
  border: 1px dotted #000;
  background-color: #f60;
  color: #fff;
  border-style: dashed;
}

input[type=range] {
  appearance: none;
  width: 100%;
  background: #ff6600;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 12.8px;
  background: #ff6600;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  appearance: none;
  margin-top: -3.6px;
}

/* ----------------------------- */
/* Custom bar gitHub */
/* ----------------------------- */

.githubref {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: auto;
  color: #000;
  background: #ffffff;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 0 14px 0px;
  margin: 0 auto;
}

.githubref a {
  font-size: 45px;
  color: #200054;
}

.githubref a:hover {
  color: #6200ff;
}

.githubref p {
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0 0 10px;
  margin: 0;
}
